/* PHONE */
@media screen and (max-width: 767px) {
  /* MAIN PAGE */
  .Logo {
    width: 103px;
    height: 53px;
  }
  .container {
    margin: 0, auto;
    padding: 0, auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .hero {
    margin: 0, auto;
  }
  header {
    width: 100%;
  }
  /* HEADER */
  .navbar {
    display: none;
  }
  .app-ph {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  .zero-weight {
    font-weight: normal;
  }
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 50px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 0px;
    list-style-type: none;
    z-index: 2;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu li a {
      color: white;
      text-decoration: none;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  /* MAIN */
  .div-whymed {
    display: flex;
    justify-content: center;
  }
  .MainPhoto {
    display: none;
  }
  .MainPhoto2 {
    display: block;
    padding: 0px;
    width: 100%;
  }
  .MainTexts {
    text-align: center;
    width: 100%;
  }
  .div-pading {
    width: 100%;
  }
  .PhotoAndSlogan {
    display: flex;
    justify-content: center;
  }
  .Slogan {
    color: white;
    text-align: center;
    width: 248px;
    position: absolute;
    top: 210px;
    left: 10px;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .WhyMed {
    color: #0456b7;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: contents;
  }
  .ul-text-main {
    padding-left: 0px;
  }
  .h-div-main {
    color: #0456b7;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-color {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .map-div {
    display: block;
    text-align: center;
    width: 180px;
    height: 150px;
  }
  .link-map {
    color: #0456b7;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .ourLoc {
    font-size: 13px;
  }

  /* FOOTER */
  .link-footer {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: -35px;
  }
  .footer-text {
    color: #0456b7;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -15px;
  }
  .footer-text-div {
    text-align: center;
  }
  .footer-section {
    display: inline;
    text-align: center;
    width: 100%;
  }
  .div-color-blue {
    width: 100%;
  }

  .map-div {
    margin-left: 100%;
    z-index: 1;
  }
  .div-color-footer {
    background-color: #dfefff;
    margin-top: -15px;
    margin-bottom: -15px;
  }

  /* APPOINTMENT */
  .form-container {
    width: 100%;
  }
  .madal-form {
    width: 100%;
  }
  #user-date {
    width: 100%;
  }
  .select-form {
    width: 100%;
  }
  #user-name {
    width: 100%;
  }
  #user-phone {
    width: 100%;
  }
  #user-email {
    width: 100%;
  }

  /* ABOUT */
  .fist-img {
    display: none;
  }
  .fist-img-phone {
    display: block;
    width: 100%;
  }
  .section-about {
    width: 100%;
  }
  .ab-text {
    width: 100%;
  }
  .about-phone-h2 {
    color: black;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .text-about {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  .blue-span {
    color: #0456b7;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .div-texy-about {
    text-align: center;
    margin-left: 30px;
  }
  .about-section2 {
    width: 100%;
  }
  .about-our-services {
    width: 243px;
    height: 53px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .button-click {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 202px;
    height: 43px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    margin-top: -20px;
  }
  .box-button {
    display: inline;
    text-align: center;
  }
  .g-title {
    color: #0456b7;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 100%;
  }
  .gynecology {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 180px;
  }
  .dantist {
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 350px;
  }
  .massageP {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 250px;
  }

  /* POLICY */
  .backgrond-color-policy {
    width: 100%;
  }

  /* DOCTORS */
  .doc-img {
    width: 100%;
    height: 370px;
  }
  .doc-img1 {
    width: 100%;
  }
  .kush {
    height: 60px;
  }
  .container-flex-doc {
    gap: 0px;
  }
  .med-doc-h2 {
    color: #0456b7;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  /* GYNECOLOGY */
  .doctors-gynecology {
    width: 100%;
    height: 470px;
  }
  .gynecologyandurology-section {
    display: none;
  }
  .div-box-doctors-text-phone {
    background-color: #d9d9d9;
    width: 100%;
    height: 240px;
    text-align: center;
    font-size: 15px;
  }
  .div-box-doctors-text-phone-rosh {
    background-color: #d9d9d9;
    width: 100%;
    height: 265px;
    text-align: center;
    font-size: 15px;
  }
  .button-click-MedArt {
    display: none;
  }
  .p-medart-gyn-phone {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 100%;
    height: 170px;
    flex-shrink: 0;
  }
  .div-img-foto-medart {
    display: flex;
    flex-direction: column;
  }
  .img-tool-phone {
    display: none;
  }
  .gyn-img-ph {
    margin-bottom: 20px;
  }
  
  /* DANTIST */
  .dantist-section {
    display: none;
  }
  .doctors-dantist {
    width: 100%;
    height: 400px;
  }

  /* MASSAGE */
  .massage-section {
    display: none;
  }
  .doctors-massage {
    width: 100%;
    height: 500px;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .gynecologyandurology-section-phone {
    display: none;
  }
  .dantist-section-phone {
    display: none;
  }
  .gyn-img-ph {
    display: none;
  }
  .massage-section-phone {
    display: none;
  }
  .div-texy-about-second {
    position: absolute;
    z-index: 1;
    left: -350px;
  }
  .ul-div-box-doctors {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    gap: 30px;
  }
  .Jarkovich {
    width: 375px;
  }
  .ul-div-box-doctors-jarkovich {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .span-kush {
    display: flex;
    justify-content: center;
  }
  .kush {
    height: 28px;
  }
  .div-whymed {
    display: flex;
    justify-content: center;
  }
  .WhyMed {
    padding-top: 190px;
    padding-left: 105px;
    color: #0456b7;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: contents;
  }
  .MainTexts {
    display: flex;
  }
  .text1 {
    width: calc((100%- 72px) / 2);
    max-width: 500px;
  }
  .ul-text-main {
    display: flex;
    flex-wrap: wrap;
    gap: 22px 16px;
    align-items: center;
    justify-content: center;
  }
  .div-pading {
    padding-top: 24px;
  }
  .h-div-main {
    color: #0456b7;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .fist-img {
    height: 321px;
    position: relative;
  }
  .div-texy-about {
    position: absolute;
    z-index: 1;
  }
  .text-about {
    color: aliceblue;
  }
  .div-foto-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  .container-flex {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-dantist {
    width: 375px;
    height: 367px;
  }
  .div-box-doctors {
    gap: 36px;
  }
  .div-box-doctors-text-massage {
    gap: 36px;
    background-color: #d9d9d9;
    width: 375px;
    height: 247px;
    text-align: center;
    font-size: 15px;
    gap: 30px;
  }
  .div-box-doctors-text {
    width: 375px;
    height: 251px;
  }
  .img-tool {
    width: 526px;
    height: 300px;
  }
  .doctors-gynecology {
    width: 360px;
    height: 450px;
  }
  .container-flex-doc {
    gap: 50px;
  }
  #jurez div {
    display: none;
    position: absolute;
    background-color: #c3def9;
    z-index: 1;
    width: 350px;
    box-shadow: 3px 3px 1px 1px #0456b7;
    cursor: pointer;
  }
  #vanja div {
    display: none;
    position: absolute;
    background-color: #c3def9;
    z-index: 1;
    width: 350px;
    box-shadow: 3px 3px 1px 1px #0456b7;
    cursor: pointer;
  }
  #dima div {
    display: none;
    position: absolute;
    background-color: #c3def9;
    z-index: 1;
    width: 450px;
    box-shadow: 3px 3px 1px 1px #0456b7;
    cursor: pointer;
  }
  .masDoc {
    width: 375px;
    height: 500px;
  }
  .app-ph {
    padding-left: 300px;
  }
}
@media screen and (max-width: 1157px) {
  .container-flex-doc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .app-ph {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  .zero-weight {
    font-weight: normal;
  }
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 50px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 0px;
    list-style-type: none;
    z-index: 2;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu li a {
    color: white;
    text-decoration: none;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media screen and (min-width: 1158px) {
  .WhyMed {
    margin-left: 65px;
    padding-top: 180px;
  }
  .text1 {
    width: calc((100%- 72px) / 2);
    max-width: 500px;
  }
  .ul-text-main {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    align-items: center;
    justify-content: center;
  }
  .ul-footer {
    gap: 45px;
    display: flex;
    padding: 24px;
  }
  .text-about {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
    width: 335px;
  }
  .container-flex {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
  }
  .div-box-doctors {
    gap: 130px;
  }
  .doctors-gynecology {
    width: 560px;
    height: 600px;
  }
  .div-site-map {
    display: flex;
  }
  .div-site {
    display: flex;
  }
  .p-hiden {
    display: none;
  }
  .div-box-doctors-text-massage {
    background-color: #d9d9d9;
    width: 375px;
    height: 247px;
    text-align: center;
    font-size: 15px;
  }
  .ul-div-box-doctors {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    gap: 130px;
  }
  .img-dantist {
    width: 375px;
  }
  .div-texy-about-second {
    position: absolute;
    z-index: 1;
  }
  .fist-img {
    height: 721px;
  }
  .doctors-gynecology {
    width: 375px;
    height: 450px;
  }
}
